@charset "UTF-8";
/* Змінні кольори */
:root {
  /* Загальні */
  --primary-background-color: rgba(255,255,255,1);
  --primary-tex-color: rgba(117,117,117,1);
  --title-text-color: rgba(33, 33, 33, 1);
  --button-background-color-normal:rgba(245, 244, 250, 1);
  --button-color-hover:rgba(255,255,255,1);
  /* Хеадер */
  --header-border-color:rgba(236, 236, 236, 1);
  --logo-color-header:rgba(33,33,33,1);
  --logo-accent-color:rgba(33,150,243,1);
  --site-nav-color:rgba(33,33,33,1);
  --site-nav__link--current-color:rgba(33,150,243,1);
  --header-color-hover: rgba(33,150,243,1);
  /* Герой */
  --hero-background-color: rgba(47,48,58,1);
  --hero__title-color: rgba(255,255,255,1);
  --hero__button-color: rgba(245,244,250,1);
  /* Модальне вікно */
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal__close-button-color: rgba(0, 0, 0, 1);
  --modal__close-button-border-color: rgba(0, 0, 0, 0.1);
  --modal-color-hover: rgba(33,150,243,1);
  --checkbox__icon-checked: rgba(255, 255, 255, 1);
  --checkbox__icon-unchecked-border-color: rgba(33, 33, 33, 1);
  --form__button-submit-color-hover: rgba(24, 140, 232, 1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  /* occupation*/
  --occupation__text-background-color: rgba(47, 48, 58, 0.8);
  --occupation__text-color: rgba(255, 255, 255, 1);
  /* team */
  --team-background-color:rgba(245,244,250,1);
  --team__item-background-color: rgba(255, 255, 255, 1);
  --social-links__link--team-background-color: rgb(255, 255, 255);
  --social-links__link--team-icon-color: rgba(175, 177, 184, 1);
  --social-links__link--team-background-color-hover: rgba(33,150,243,1);
  --social-links__link--team-icon-color-hover: rgba(255, 255, 255, 1);
  /* clients-icon */
  --clients-link-color:rgba(175, 177, 184, 1);
  --clients-link-color-hover: rgba(33,150,243,1);
  /* Footer */
  --footer-background-color:rgba(47,48,58,1);
  --logo--footer-color: rgba(255,255,255,1);
  --address__link-color:rgba(255,255,255,1);
  --footer-titles-color: rgba(255,255,255,1);
  --social-links__link--footer-background-color: rgb(255, 255, 255, 10%);
  --social-links__link--footer-color: rgba(255, 255, 255, 1);
  --social-links__link--footer-background-color-hover: rgba(33,150,243,1);
  --footer-subscribe__input-color: rgba(255, 255, 255, 0.6) ;
  --footer-subscribe__input-border-color: rgba(255, 255, 255, 0.3) ;
  --footer-subscribe__input-border-collor-hover: rgba(255, 255, 255, 1);
  --footer-subscribe__button-color: rgba(255, 255, 255, 1) ;
  --footer-subscribe__button-background-color: rgba(33, 150, 243, 1) ;
  --footer-subscribe__button-background-color-hover: rgba(24, 140, 232, 1) ;
  /* Портфоліо */
  --examples__button-background-color:rgba(245,244,250,1);
  --examples__second-laer-color: rgba(255, 255, 255, 1);
  --examples__second-laer-background-color: rgba(33, 150, 243, 0.9);
  --examples__text-box-border: rgba(238, 238, 238, 1);
  /* Всяке */
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-tex-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container,
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--header {
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
  color: var(--logo-color-header);
}

.logo__accent {
  color: var(--logo-accent-color);
}

.site-nav__link,
.header-contacts .link {
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__list li:not(:last-child),
.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.site-nav__link,
.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link {
  color: var(--site-nav-color);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.header-contacts__link {
  color: inherit;
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.site-nav__link:hover,
.site-nav__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--header-color-hover);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link--current {
  color: var(--site-nav__link--current-color);
  position: relative;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-color-hover);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background-color);
  text-align: center;
  padding: 200px 0px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero__title-color);
}

.hero__button {
  padding: 10px 32px;
  border-width: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero__button-color);
}

.hero__button,
.examples__button {
  color: var(--title-text-color);
  background-color: var(--button-background-color-normal);
  cursor: pointer;
  -webkit-transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing);
}

.hero__button:hover,
.examples__button:hover,
.hero__button:focus,
.examples__button:focus {
  color: var(--button-color-hover);
  background-color: var(--header-color-hover);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  -webkit-transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing), transform 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing), transform 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  color: var(--modal__close-button-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--modal__close-button-border-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.modal__close-button:hover,
.modal__close-button:focus {
  color: var(--modal-color-hover);
}

.modal__close-button-icon {
  fill: currentColor;
}

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.form {
  text-align: center;
}

.form__field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.form__input-block {
  position: relative;
  display: block;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
}

.form__input,
.form__comment {
  color: var(--title-text-color);
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-timing);
  transition: border-color 250ms var(--transition-timing);
  cursor: pointer;
}

.form__input-block:hover .form__input,
.form__input-block:focus .form__input,
.form__comment:hover,
.form__comment:focus,
.form__input:focus-within {
  border-color: var(--modal-color-hover);
  outline: 0;
}

.form__input-block:focus-within .form__icon {
  color: var(--modal-color-hover);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--title-text-color);
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.comment {
  margin-bottom: 20px;
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  overflow: auto;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox:hover .checkbox__icon-unchecked,
.checkbox:focus .checkbox__icon-unchecked {
  border-color: var(--modal-color-hover);
}

.checkbox__container {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__icon-checked {
  opacity: 1;
}

.checkbox__icon-checked {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-color-hover);
  color: var(--checkbox__icon-checked);
  fill: currentColor;
  background-clip: border-box;
  border-radius: 2px;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing);
}

.checkbox__icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--checkbox__icon-unchecked-border-color);
  border-radius: 2px;
  -webkit-transition: border-color 250ms var(--transition-timing);
  transition: border-color 250ms var(--transition-timing);
}

.checkbox__label {
  cursor: pointer;
}

.checkbox__labe-link {
  color: var(--modal-color-hover);
  text-decoration: underline;
}

.form__button-submit {
  padding: 10px 55px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-background-color);
  background: var(--modal-color-hover);
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}

.form__button-submit:hover,
.form__button-submit:focus {
  background-color: var(--form__button-submit-color-hover);
}

/* Наші переваги */
.preference,
.occupation,
.team,
.clients {
  padding: 94px 0px;
}

.preference__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 
================
==Приховування==  
================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.preference__item {
  width: 270px;
}

.preference__item:not(:last-child) {
  margin-right: 30px;
}

.preference__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.preference__description-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.preference__description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим ми займаємось */
.occupation {
  padding-top: 0;
}

.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.occupation__item {
  position: relative;
}

.occupation__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.occupation__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 27px 40px;
  margin: 0;
  background-color: var(--occupation__text-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--occupation__text-color);
}

/* Наша команда */
.team {
  background-color: var(--team-background-color);
}

.title-general {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__list > li:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  width: 270px;
  background-color: var(--team__item-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrap {
  padding: 30px 30px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-links__link--team {
  background-color: var(--social-links__link--team-background-color);
  color: var(--social-links__link--team-icon-color);
  -webkit-transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
}

.social-links__link--team:hover,
.social-links__link--team:focus {
  background-color: var(--social-links__link--team-background-color-hover);
  color: var(--social-links__link--team-icon-color-hover);
}

.social-links__icon {
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-link-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clients-link-color);
  -webkit-transition: border 250ms var(--transition-timing), color 250ms var(--transition-timing);
  transition: border 250ms var(--transition-timing), color 250ms var(--transition-timing);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--clients-link-color-hover);
  color: var(--clients-link-color-hover);
}

.clients__link {
  fill: currentColor;
}

/*  Адреса */
.footer {
  padding: 60px 0px;
  background-color: var(--footer-background-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo--footer {
  margin-bottom: 20px;
  color: var(--logo--footer-color);
}

.footer__cotacts {
  margin-right: 70px;
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: left;
  color: var(--address__link-color);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.footer-join__title,
.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--footer-titles-color);
}

.social-links__link--footer {
  background-color: var(--social-links__link--footer-background-color);
  color: var(--social-links__link--footer-color);
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}

.social-links__link--footer:hover,
.social-links__link--footer:focus {
  background-color: var(--social-links__link--footer-background-color-hover);
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-subscribe__input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-subscribe__input-color);
  background-color: inherit;
  border: 1px solid var(--footer-subscribe__input-border-color);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color 250ms var(--transition-timing);
  transition: border-color 250ms var(--transition-timing);
}

.footer-subscribe__input:focus,
.footer-subscribe__input:hover {
  border-color: var(--footer-subscribe__input-border-collor-hover);
  overflow: hidden;
}

.footer-subscribe__button {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--footer-subscribe__button-color);
  background-color: var(--footer-subscribe__button-background-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus {
  background-color: var(--footer-subscribe__button-background-color-hover);
}

.footer-subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Портфоліо */
.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.examples__button-item:not(:last-child) {
  margin-right: 8px;
}

.examples__button {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--examples__button-background-color);
  -webkit-transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing), box-shadow 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing), box-shadow 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
}

.examples__button:hover,
.examples__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples__item {
  width: 370px;
}

.examples__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing);
  transition: -webkit-box-shadow 250ms var(--transition-timing);
  transition: box-shadow 250ms var(--transition-timing);
  transition: box-shadow 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
}

.examples__link:hover,
.examples__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__image-box {
  position: relative;
  overflow: hidden;
}

.examples__second-laer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: var(--examples__second-laer-background-color);
  opacity: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--examples__second-laer-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing), opacity 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing), opacity 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
}

.examples__link:hover .examples__second-laer,
.examples__link:focus .examples__second-laer {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__text-box {
  padding: 20px 24px;
  border-left: 1px solid var(--examples__text-box-border);
  border-right: 1px solid var(--examples__text-box-border);
  border-bottom: 1px solid var(--examples__text-box-border);
}

.examples__text-box-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--title-text-color);
}

.examples__text-box-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-tex-color);
}
/*# sourceMappingURL=main.css.map */